@import url('font-awesome/css/font-awesome.min.css');

body{
	margin:0;
	padding:0;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	color:#595a5a;
	background-color: #f5f5f5;
}

.navbar{
	min-height:60px;
	box-shadow: 0 0px 30px rgba(0, 0, 0, .07);
}
.navbar-brand{
	font-weight: 700;
}
.navbar .nav-link{
	font-weight: 500;
	margin-right:10px;
	color:#555;
}

.navbar .dropdown-menu{
	padding:0;
	border:none;
	min-width:200px;
	top:46px;
	border-radius: 0;
	visibility: hidden;
}
@media (min-width:768px){
	.navbar .nav-item:hover .dropdown-menu{
		visibility: visible;
		top:30px;
		transition:all 0.2s ease;
		opacity: 1;
	}
	.navbar .dropdown-menu{
		padding-top:20px;
		top:200px;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition:all 0.2s ease;
	}
}
.navbar .dropdown-menu a{
	padding:8px 15px;
	font-size: 14px;
}
.navbar-toggler{
	border:0;
	padding:0;
}
.bg-white{
	background-color: #fff;
}
.form-search .form-control{
	border:none;
	background-color: #f5f7f9;
	font-size: 14px;
}
.form-search .form-control::placeholder{
	color:#aaa;
}
.form-search .form-control:focus{
	box-shadow: none;
}
.login{
	color:#777;
}
.login:hover,
.login:focus{
	color:#555;
	text-decoration: none;
}

.wrapper-content{
	margin-top:120px;
}

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>

.putih {
	color: white;
}
.mh--10{
	margin-left:-10px;
	margin-right:-10px;
}
.mh--10 div[class^='col-']{
	padding:0 10px;
}
.header{
	height: 400px;
	width: 1000px;
	background-color: #5ac8e9;
}
#title{
	font-size: 50px;
	font-weight: 700;
	color: #f26969;
}

#carousel{
}
#carousel .item{
	display: block;
    position:relative;
    overflow: hidden;
    background:#999;
    height:450px;
    margin-bottom:20px;
}
#carousel .item:hover img{
	transform:scale(1.2, 1.2);
	transition:transform .2s ease;
}
#carousel .item img{
    position:absolute;
    height:100%;
	transform:scale(1, 1);
	transition:transform .2s ease;
}
#carousel .item img.left{
    left:0;
}
#carousel .item img.center{
    left:-50%;
}
#carousel .item img.right{
    right:0;
}
.carousel-title{
    position:absolute;
    top:35%;
    z-index:10;
    width:76%;
    margin-left:12%;
    background:rgba(51, 51, 51, 0.8);
    padding:15px;
    color:#fff;
    text-align:center;
}
.carousel-title .category{
    font-size:13px;
    font-style:italic;
    text-decoration:underline;
    text-transform:uppercase;
}
.carousel-title a{
	color:#fff;
	text-decoration: none;
}
.carousel-title h2{
    font-size:20px;
    font-weight: 500;
    line-height:28px;
    margin-top:10px;
}


.news-info{
	margin-top:20px;
}
.news-info h1.page-header{
	text-align: center;
}

.card{
	border:none;
	padding:10px;
	text-align: center;
	margin-top:30px;
	background: none !important
}
.card .card-body{
	padding:15px 10px;
}
.card h3{
	font-size: 22px;
}
.desc{
	color:#999;
	font-style: italic;
}

.pagination li{
	margin-left:3px;
	margin-right:3px;
}
.pagination li a{
	border-radius: 0 !important;
	padding:12px 17px;
	color: #595a5a;
	font-weight: 500;
}
.pagination li.active a{
	background-color: #4d4b4c !important;
	border:1px solid #4d4b4c !important
}
.pagination li .limit{
	display: inline-block;
	padding:8px 17px;
	font-weight: 700;
}


.subscribe{
	margin-top:50px;
	background-color: #fff;
	padding:30px 0;
}
.subscribe p{
	color:#888;
}
.subscribe .form-control{
	background-color: #f5f5f5;
	border:0;
}
.btn-primary{
	background-color: #248ea6
}
.btn-primary:hover{
	background-color: #1e7e94
}


.footer-widget{
	margin-top:50px;
}
.social{
	margin: 0;
	padding:0;
	list-style: none;
	margin-top: 30px;
}
.social li{
	margin-right:15px;
	float: left;
}
.social li a{
	display: inline-block;
	width:50px;
	height: 50px;
	background-color: #343a3b;
	color:#fff;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
}
.footer-copyright{
	margin-top:50px;
	border-top:1px solid #dfdfdf;
	padding:12px 0;
}
.footer-copyright span{
	display: inline-block;
	padding:8px 0;
}
.footer-copyright .nav li{
	padding-left:8px;
}
.footer-copyright .nav li a{
	color:#595a5a;
	padding:8px;
}

.widget{
	padding:0 10px;
}
.widget-header{
	font-size: 20px;
	display: block;
	color:#343a3b;
	border-bottom: 1px solid #dfdfdf;
	padding:10px 0;
	padding-top:0;
}
.widget-content{
	margin-top: 20px;
	display: block;
}
.widget-content .nav .nav-item{
	position: relative;
}
.widget-content .nav .nav-item:before{
	position: absolute;
	left:0;
	top:9px;
	content: '';
	font-family: fontAwesome;
	font-size: 13px;
}
.widget-content .nav .nav-item .nav-link{
	padding-left: 17px;
	color:#595a5a;
}
.widget .nav.tags{
	margin-top:0px;
}
.widget .nav.tags .nav-item:before{
	content:"";
}
.widget .nav.tags .nav-item .nav-link{
	padding:8px 15px;
	background-color: #fff;
	margin-bottom:7px;
	margin-right:7px;
}
.widget .nav.tags .nav-item .nav-link:hover,
.widget .nav.tags .nav-item .nav-link:focus{
	background-color: #248ea6;
	color:#fff;
}



.post-title{
	margin-top:10px;
	color:#343a3b;
}
.img-post{
	width:100%;
	margin-top:30px;
}
.tag{
	display: inline-block;
	padding:2px 15px;
	background-color: #248ea6;
	color:#fff !important
}
.post-content{
	padding-left:50px;
	padding-right:50px;
}
blockquote{
	padding:20px;
	padding-left:40px;
	background-color: #fff;
}