	<div class='footer'>
		<div class='container'>
			<div class='footer-widget'>
				<div class='row'>

					<div class='col-md-4'>
						<img src='images/logo.jpeg' style='max-height:70px'>
						<p class='mt-4'>Don't worry. We are Original</p>

						<ul class='social'>
							<!-- <li><a href='#'><i class='fa fa-facebook'></i></a></li> -->
							<li><a href='https://api.whatsapp.com/send?phone=6289634554920&text=Permisi,%20Saya%20mau%20order'><i class='fa fa-whatsapp'></i></a></li>
							<li><a href='https://www.instagram.com/dk.store17/'><i class='fa fa-instagram'></i></a></li>
						</ul>
					</div>

					<div class='offset-1 col-md-3'>
						<div class='widget'>
							<h4 class='widget-header'>Hot Tags</h4>
							<div class='widget-content'>
								<ul class='nav tags'>
									<li class='nav-item'><a class='nav-link' href='#'>News</a></li>
									<li class='nav-item'><a class='nav-link' href='#'>Nike</a></li>
									<li class='nav-item'><a class='nav-link' href='#'>Adidas</a></li>
									<li class='nav-item'><a class='nav-link' href='#'>Converse</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class='offset-2 col-md-2'>
						<div class='widget'>
							<h4 class='widget-header'>Get Apps</h4>
							<div class='widget-content'>
								<img src="images/play-store.png" style="width: 100%;">
								<img src="images/app-store.png" style="width:100%;margin-top:5px">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='footer-copyright'>
				<span>Store &copy; Inside Sleman City Hall lt 2 no 17</span>
				<div class='float-sm-right'>
					<ul class="nav justify-content-end">
	  					<li class="nav-item">
					    	<a class="nav-link" href="#">Home</a>
					   	</li>
					  	<li class="nav-item">
					    	<a class="nav-link" href="#">About Us</a>
					 	</li>
					  	<li class="nav-item">
					    	<a class="nav-link" href="#">Contact Us</a>
					  	</li>
					  	<li class="nav-item">
					    	<a class="nav-link disabled" href="#">Disclaimer</a>
					  	</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
